table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
    width: 100%;
}

thead {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    width: 100%;
}