table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
    width: 100%;
}

thead {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    width: 100%;
}

h1#month {
    background: darkturquoise;
    text-align: center;
    text-transform: uppercase;
    padding: 1%;
}

th {
    background: gainsboro;
    font-family: monospace;
    font-size: 1.5em;
}

td {
    font-size: 1.2em;
    border: 1px solid rgba(107, 107, 107, 0.11);
    padding: 5%;
}